
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom right, #33ccff, #ff99cc);
    font-family: Arial, sans-serif;
    color: #333333;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.quiz {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 400px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

#options {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #45a049;
}

#score {
    margin-top: 20px;
}

#timer {
    margin-top: 20px;
}
